.loginPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.closeLoginPageButton {
    height: 28px;
    width: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    position: absolute;
    right: 60px;
    top: 60px;
}

.closeLoginPageButton:hover {
    color: #9155A7;
    cursor: pointer;
}

.loginContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.loginContentHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.loginContentHeader > h1{
    font-size: 48px;
    margin: 0 0;
}

.textWithButtonContainer {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.textWithButtonContainer > h4 {
    margin: 23px 0;
}

.textWithButtonContainer button {
    background: transparent;
    border: none;
    outline: none;
    line-height: 1;
    height: 21px;
    font-size: 18px;
    font-weight: bold;
    color: #9155A7;
}

.textWithButtonContainer button:hover {
    cursor: pointer;
}

.loginWithEmailButton {
    height: 48px;
    width: 320px;
    font-size: 16px;
    background: transparent;
    border: 1px solid grey;
    outline: none;
}

.loginWithEmailButton:hover {
    border: 1px solid black;
    cursor: pointer;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 230px;
}

.loginFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}

.loginInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    color: #605e5e;
}

.loginInputContainer > input {
    height: 27px;
    border: none;
    border-bottom: 1px solid #9155A7;
    outline: none;
    font-size: 16px;
}

.forgotPasswordButton {
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
    color: #2F2E2E;
    font-size: 16px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 185px;
}

.forgotPasswordButton:hover {
    cursor: pointer;
}

.loginButton {
    background-color: #9155A7;
    height: 48px;
    width: 320px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.loginButton:hover {
    cursor: pointer;
}