.navigationContainer {
    --backgroundColor: white;
    --height: 150px;

    background-color: var(--backgroundColor);
    height: var(--height);

    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 30px;
}


.linksContainer .activeLink {
    --textColor: #9155A7;

    color: var(--textColor);
}

.linksContainer  a {
    --textColor: #605e5e;

    color: var(--textColor);
    text-decoration: none;

    margin: 30px;
    white-space: nowrap;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linksContainer a:hover {
    color: #9155A7;
    text-decoration: none;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.personIconSVG {
    margin-right: 10px;
    font-size: 30px;
}